/* =================
  Layout/Header
  ================== */

.header
  position: relative
  z-index: 1
  height: 150px
  background: url('../images/header-bg.png') repeat-x

  &-banner
    box-sizing: border-box
    height: 104px
    overflow: hidden
    padding: 25px 20px 10px
    &:after
      content: ''
      display: block
      clear: both

  &-user
    float: left
    width: 25%
    text-align: center
    &-avatar
      vertical-align: middle
      display: inline-block
      width: 50px
      height: 50px
      overflow: hidden
      border-bottom: none
      img
        border-radius: 50%
    &-name
      position: relative
      vertical-align: middle
      display: inline-block
      font-size: 15px
      margin-left: 11px
      max-width: 155px
      &-text
        text-decoration: none
        color: #FFFFFF
        border-bottom: 1px dotted
        border-bottom-color: rgba(255,255,255,.3)
        font-size: 1em
        line-height: 1.1
        outline: 0
      &-count
        background: $decoration-background-color
        color: $header-text-color
        font-family: $alternate-font
        font-weight: 700
        position: absolute
        bottom: 100%
        left: 100%
        padding: 2px 4px
        transform: skew(-10deg)
        font-size: 13px

  &-logo
    float: left
    width: 50%
    text-align: center
    picture
      width: 411px
      img
        width: 411px

  &-mode
    float: left
    width: 25%
    min-width: 220px
    margin-top: -25px
    text-align: right
    .mode-item
      font-family: $base-font
      font-weight: 600
      font-size: 14px
      color: $header-text-color
      text-decoration: none
      display: inline-block
      transform: skew(-8deg)
      padding: 10px 15px
      &-text
        transform: skew(8deg)
        border-bottom: 1px solid
        border-bottom-color: rgba(255,255,255,.3)
      &.active
        background: $decoration-background-color
        .mode-item-text
          border-bottom: none
          border-bottom-color: none

  &-menu
    padding: 0 20px
    overflow: hidden
    &:after
      content: ''
      display: block
      clear: both

  &-map
    width: 150px
    display: block
    float: left
    margin-left: -25px
    z-index: 2
    &-link
      display: block
      float: left
      background: $decoration-background-color
      font-size: 16px
      text-decoration: none
      padding: 13px 17px
      outline: 0
      transform: skew(-8deg)
      &:before
        content: ''
        display: inline-block
        +sprite(0, -1128px)
        width: 20px
        height: 25px
        vertical-align: middle
        transform: skew(8deg)
        margin: 0 5px
      &-text
        display: inline-block
        color: #FFFFFF
        border-bottom: 1px dotted
        border-bottom-color: rgba(255,255,255,.3)
        transform: skew(8deg)
        vertical-align: middle

  &-navigation
    display: block
    text-align: center
    overflow: hidden
    &-list
      display: inline-block
      .navigation-item
        display: inline-block
        padding: 13px 10px
        &-link
          text-decoration: none
          outline: 0
          color: #FFFFFF
          border-bottom: 1px dotted
          border-bottom-color: rgba(255,255,255,.3)

  &-search
    display: block
    float: right
    text-align: right
    &-form
      display: inline-block
      line-height: 40px
      height: 40px
      padding: 0
      margin: 0
      position: relative
      &-input
        box-sizing: border-box
        width: 200px
        padding: 5px 30px 5px 15px
        border: 1px solid #414042
        background-color: transparent
        box-shadow: none
        outline: 0
        margin: 0
        border-radius: 4px
        &:focus
          background-color: #FFFFFF
      &-submit
        position: absolute
        right: 9px
        top: 50%
        margin-top: -12px
        border: none
        width: 30px
        height: 26px
        background-color: transparent
        text-indent: 9999em
        cursor: pointer
        overflow: hidden
        opacity: .5
        &:before
          +sprite(0, -958px)
          content: ''
          position: absolute
          top: 50%
          left: 50%
          margin: -7px 0 0 -7px
          width: 14px
          height: 14px

@media screen and (max-width: 992px)
  .header

    &-banner
      padding: 15px 20px 15px

    &-user
      width: 25%
      &-avatar
        display: block
        margin: 0 auto 5px
      &-name
        margin-left: 0

    &-mode
      width: 15%
      float: right
      min-width: 100px
      margin-top: 5px

    &-navigation
      height: 42px
      &-wrapper
        overflow-y: hidden
        overflow-x: auto
        padding-bottom: 25px
      &-list
        display: inline-block
        white-space: nowrap
        width: 100%
        .navigation-item
          display: inline-block
          padding: 13px 10px

    &-map
      width: 80px
      &-link
        &-text
          display: none

    &-search
      overflow: hidden
      &-form
        float: right
        &-input
          width: 40px
          border: none
          position: relative
          z-index: 3
          transition: z-index 1s, width 1s
          &:focus
            transition: z-index 0s, width 1s
            z-index: 1
            width: 200px
        &-submit
          z-index: 2

@media screen and (max-width: 768px)
  .header
    height: 136px

    &-banner
      height: 90px
      padding: 15px 10px 15px

    &-user
      text-align: left
      position: relative
      &-avatar
        margin: 0
      &-name
        position: absolute
        top: 0
        left: 0
        &-text
          display: none
        &-count
          bottom: auto
          left: 40px
          top: 0

    &-logo
      float: left
      text-align: right
      picture
        max-width: 100%
        img
          max-width: 100%

    &-mode
      .mode-item
        padding: 8px 10px
        &-text
          font-size: 12px

@media screen and (max-width: 480px)
  .header

    &-mode
      width: 75%
      float: right
      min-width: 200px
      margin-top: 5px
      .mode-item
        padding: 6px 10px

    &-logo
      float: right
      width: 55%
