/* =================
  Modules/Content
  ================== */

.content
  margin-right: 328px
  margin-bottom: 50px
  padding: 0 20px 0 50px

  .steps
    margin: 0 -12px 20px
    &:after
      content: ''
      display: block
      clear: left
    .step
      width: 33.333%
      float: left
      box-sizing: border-box
      padding: 0 12px
      &-item
        background: #e74111
        padding: 10px
        color: #FFFFFF
      &-number
        font-size: 36px
        font-weight: 900
        width: 38px
        float: left
      &-action
        margin-left: 38px
        line-height: 20px

  .description
    clear: left