/* =================
  Modules/Honors
  ================== */

.honors
  width: 328px
  float: right
  margin-bottom: 50px

  &-covers
    position: relative
    height: 215px
    .cover
      position: absolute
      &.cover-1
        left: 0
        top: -52px
      &.cover-2
        left: 28px
        top: -20px
      &.cover-3
        left: 50px
        top: 100px
      &.cover-4
        left: 126px
        top: 150px

  &-list
    background-image: url(/images/honors-bg.png)
    background-position: left bottom
    background-repeat: no-repeat
    padding: 25px 25px 35%
    box-sizing: border-box
    position: relative
    z-index: 2
    &-item
      margin-bottom: 40px
      &-number
        font-size: 24px
        line-height: 32px
        color: #eb4110
      &-entity
        line-height: 22px

  &-finish
    position: relative
    z-index: 1
    background: #e74111
    color: #FFFFFF
    text-align: right
    line-height: 20px
    padding: 12px 45px 6px 0
    margin-top: -18px
    &-text
      position: relative
      z-index: 3

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)
  .honors
    &-list
      background-image: url(/images/honors-bg-large.png)

@media screen and (max-width: 992px)
  .honors
    width: 220px
    &-list
      background-size: contain
    &-finish
      padding: 6px 10px 6px 10px
      margin-top: -9px
      &-text
        position: relative
        z-index: 3

@media screen and (max-width: 768px)
  .honors
    position: relative
    float: none
    width: 100%
    margin-bottom: 0
    box-sizing: border-box
    &-covers
      height: 265px
      width: 200px
      z-index: 3
      position: absolute
      top: 0
      right: 0
    &-list
      background-size: 100%
      &-item
        &-entity
          margin-right: 220px
          .new-line
            display: inline-block
    &-finish
      padding: 26px 20px 16px 20px
      margin-top: -21px

@media screen and (max-width: 480px)
  .honors

    &-covers
      height: 265px
      width: 100%
      position: relative

    &-list
      &-item
        &-number
          font-size: 28px
          line-height: 36px
        &-entity
          margin-right: 0

    &-covers
      .cover
        position: absolute
        &.cover-1
          left: 7%
        &.cover-2
          left: 20%
        &.cover-3
          left: 35%
        &.cover-4
          left: 50%
